[submodule "flask/template"]
  path = flask/template
  url = https://github.com/aisensiy/cde-flask-init-project.git
[submodule "jersey-mysql/template"]
	path = jersey-mysql/template
	url = https://github.com/aisensiy/cde-jersey-mysql-init-project.git
[submodule "jersey-mongo/template"]
	path = jersey-mongo/template
	url = https://github.com/tw-cde/jersey-mongo-init.git
[submodule "rails-mongodb/template"]
	path = rails-mongodb/template
	url = https://github.com/aisensiy/rails-with-mongoid-template
